body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

#chat-messages {
  min-height: 80vh;
  height: 80vh;
  width: 100%;
  overflow-y: scroll;
  padding: 1%;
}

.scrolling-game-view {
  background-color: #121212;
  color: #ECf0F1;
}
