<div class="scrolling-game-view" id="chat-messages" >
  <div *ngFor="let msg of content">
    <container-element [ngSwitch]="msg.template">
      <app-game-room [json]="msg.content" *ngSwitchCase="'room'">{{msg.template}}</app-game-room>
      <app-game-equipment [json]="msg.content" *ngSwitchCase="'equipment'">{{msg.template}}</app-game-equipment>
      <app-game-score [json]="msg.content" *ngSwitchCase="'score'">{{msg.template}}</app-game-score>
      <div *ngSwitchDefault [innerHTML]="msg.message"></div>
    </container-element>
  </div>
</div>
<div *ngIf="joined">
  <div class="input-field " style="width: 100%">
    <input type="text" class="form-control"
           placeholder="Type commands here...."
           [(ngModel)]="message"
           (keyup.enter)="commandSend() ">
  </div>
</div>

