<div [formGroup]="triggerForm" class="form-inline">
  Run&nbsp;
  <select formControlName="script" class="form-control form-control-sm form-inline" id="script"
          (change)="updateTrigger()">
    <option value="0">Default Script (does nothing)</option>
    <option *ngFor="let script of scriptList()" [ngValue]="script.vnum">{{script.vnum}} - {{script.name}}</option>
  </select>
  &nbsp;On&nbsp;
  <select formControlName="type" class="form-control form-control-sm form-inline" id="type" (change)="updateTrigger()">
    <option *ngFor="let trigger of allTriggers" [ngValue]="trigger.type">{{trigger.name}}</option>
  </select>
  &nbsp;With Args&nbsp;
  <input type="text" class="form-control form-control-sm form-inline" formControlName="typeArg" id="typeArg"
         aria-describedby="typeArgHelp" placeholder="Enter args">
</div>
