<span *ngIf="room">
<span class="title">{{room.name}} ({{room.vnum}})</span>
<br/>
<span class="description">{{room.description}}</span>
<br/>
  <div class="exits"><span class="label">Exits:</span> {{exitList()}}</div>
<div *ngFor="let people of room.entities" class="people">
  {{people}}
</div>
<div *ngFor="let item of room.items" class="items">
  {{item}}
</div>
</span>
