<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h2 class="mt-2">Character Dashboard</h2>
      <p>
        Use this dashboard to manage your characters.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="card col" style="margin: 0 1em;" *ngFor="let player of players">
      <div class="card-body">
        <h5 class="card-title name">{{player.name}}</h5>
        <p class="card-text">

        </p>
        <button type="button" [routerLink]="['/','play']" [queryParams]="{q:player.name}" class="btn btn-primary">Play
        </button>
        <button type="button" class="btn btn-danger" style="margin-left: 0.67em;" disabled>Delete</button>
      </div>
    </div>
  </div>

  <div class="row" style="padding-top: 1%;">
    <div class="col">
      <button class="btn btn-primary" type="button" [routerLink]="['/','account','create-player']">Create New Character
      </button>
    </div>
  </div>
</div>
