<div [formGroup]="flagForm" *ngIf="flagSet">
  <div class="row">
    <div class="col-4" *ngFor="let flag of flagSet" >
      <input type="checkbox" [formControlName]="flag.name" id="{{flag.name}}" class="mr-1"><label for="{{flag.name}}">{{flag.name}}</label>
    </div>
  </div>
</div>
