<br/>
<main role="main" class="container ">
  <ngb-alert [dismissible]="false" [type]="alertType" *ngIf="isShowAlert">
    <strong>{{alertContent}}</strong>
  </ngb-alert>
  <div class="row" >
    <div class="col-6">
      <h3>Editing: {{getAreaName()}}</h3>
    </div>
    <div class="col-6" style="text-align: right;">
      <button  class="btn btn-primary btn-sm" (click)="commandSave()" [disabled]="!canBeSaved()" >Save</button>
      <button  class="btn btn-info btn-sm ml-2" (click)="commandExport()" [disabled]="!canBeSaved()" >Download</button>
      <button class="btn btn-danger btn-sm ml-2" (click)="commandClose()"  >Close</button>
    </div>

  </div>
  <hr style="margin-top: 1px; margin-bottom: 2px;"/>
  <div class="row">
    <div class="col-12">
      <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs mt-1">
        <li [ngbNavItem]="1">
          <a ngbNavLink>Area</a>
          <ng-template ngbNavContent>
            <app-area></app-area>
          </ng-template>
        </li>
        <li [ngbNavItem]="2"  *ngIf="canBeEdited()">
          <a ngbNavLink>Rooms</a>
          <ng-template ngbNavContent>
            <app-room-editor></app-room-editor>
          </ng-template>
        </li>
        <li [ngbNavItem]="3"  *ngIf="canBeEdited()">
          <a ngbNavLink>Mobiles</a>
          <ng-template ngbNavContent>
            <app-mob-editor></app-mob-editor>
          </ng-template>
        </li>
        <li [ngbNavItem]="4"  *ngIf="canBeEdited()">
          <a ngbNavLink>Items</a>
          <ng-template ngbNavContent>
            <app-obj-editor></app-obj-editor>
          </ng-template>
        </li>
        <li [ngbNavItem]="5"  *ngIf="canBeEdited()">
          <a ngbNavLink>Scripts</a>
          <ng-template ngbNavContent>
            <app-script-editor></app-script-editor>
          </ng-template>
        </li>
        <li [ngbNavItem]="6"  *ngIf="canBeEdited()">
          <a ngbNavLink>Map</a>
          <ng-template ngbNavContent>
            <app-map></app-map>
          </ng-template>
        </li>
      </ul>

      <div [ngbNavOutlet]="nav" class="mt-2"></div>
    </div>
  </div>
</main>
