<br/>
<main role="main" class="container ">
  <h3>Editor Home - Choose a build action:</h3>

  <div class="row border" style="padding: 1em;">
    <div class="col-4">
      <h5>New</h5>
      <img src="assets/treasuremap.png" alt="Treasure Map">
    </div>
    <div class="col-8">
      <span>
        Create a new blank area. You can save this area directly to the game server, or export the file. When you save to the server, new areas will automatically
      load into the game on restart.
        <hr/>
      </span>
      <button class="btn btn-primary btn-lg" (click)="commandNewArea()">New Area</button>
    </div>
  </div>

  <div class="row border" style="padding: 1em;">
    <div class="col-4">
      <h5>Import</h5>
      <img src="assets/Tower_Square.png" alt="Square Stone Tower">
    </div>
    <div class="col-8">
      Import an existing Ibrekeniel or Animud(ROM) area by selecting it or dragging it here. You may have trouble saving
      it to the server if it would replace an existing area.
      <hr/>
      <area-file-importer></area-file-importer>
    </div>
  </div>

  <div class="row border" style="padding: 1em;">
    <div class="col-4">
      <h5>Load</h5>
      <img src="assets/Sign_Post.png" alt="Square Stone Tower">
    </div>
    <div class="col-8">
      Load an existing area to edit. These areas may be live, and your changes won't show up until they are reloaded.
      This currently requires a restart.
      <hr/>
      <div *ngFor="let area of areas">
        <span class="btn btn-info btn-lg m-1" (click)="commandLoad(area)">Load {{area.header.areaName}}
          by {{area.header.builder}}</span>
      </div>
    </div>
  </div>

</main>
