<div [ngSwitch]="itemType">
  <light-editor *ngSwitchCase="1" [parentGroup]="parentGroup"></light-editor>
  <!-- 2  is scroll (scroll/potion/pill) -->
  <wand-editor *ngSwitchCase="3" [parentGroup]="parentGroup"></wand-editor>
  <wand-editor *ngSwitchCase="4" [parentGroup]="parentGroup"></wand-editor>
</div>
<!--<label for="v0">v0</label>-->
<!--<input type="text" class="form-control" formControlName="v0" id="v0"-->
<!--aria-describedby="v0Help" placeholder="Enter v0">-->
<!--<small id="v0Help" class="form-text text-muted">The objects's v0</small>-->

<!--<label for="v1">v1</label>-->
<!--<input type="text" class="form-control" formControlName="v1" id="v1"-->
<!--aria-describedby="v1Help" placeholder="Enter v1">-->
<!--<small id="v1Help" class="form-text text-muted">The objects's v1</small>-->

<!--<label for="v2">v2</label>-->
<!--<input type="text" class="form-control" formControlName="v2" id="v2"-->
<!--aria-describedby="v2Help" placeholder="Enter v2">-->
<!--<small id="v2Help" class="form-text text-muted">The objects's v2</small>-->

<!--<label for="v3">v3</label>-->
<!--<input type="text" class="form-control" formControlName="v3" id="v3"-->
<!--aria-describedby="v3Help" placeholder="Enter v3">-->
<!--<small id="v3Help" class="form-text text-muted">The objects's v3</small>-->

<!--<label for="v4">v4</label>-->
<!--<input type="text" class="form-control" formControlName="v4" id="v4"-->
<!--aria-describedby="v4Help" placeholder="Enter v4">-->
<!--<small id="v4Help" class="form-text text-muted">The objects's v4</small>-->
