<div [formGroup]="lightForm">
  <label for="v3">Hours</label>
  <input type="number" class="form-control" formControlName="v3" id="v3"
         aria-describedby="v3Help" placeholder="Enter Light">
  <small id="v3Help" class="form-text text-muted">-1 for infinite</small>
</div>
