<div [formGroup]="lightForm">
  <label for="v0">Casting Level</label>
  <input type="number" class="form-control" formControlName="v0" id="v0"
         aria-describedby="v0Help" placeholder="Enter Light">
  <small id="v0Help" class="form-text text-muted">-1 for infinite</small>

  <label for="v1">Charges Total</label>
  <input type="number" class="form-control" formControlName="v1" id="v1"
         aria-describedby="v1Help" placeholder="Enter Light">
  <small id="v1Help" class="form-text text-muted">-1 for infinite</small>

  <label for="v2">Charges Left</label>
  <input type="number" class="form-control" formControlName="v2" id="v2"
         aria-describedby="v2Help" placeholder="Enter Light">
  <small id="v2Help" class="form-text text-muted">-1 for infinite</small>

  <label for="v3">Spell</label>
  <input type="text" class="form-control" formControlName="v3" id="v3"
         aria-describedby="v3Help" placeholder="Enter Light">
  <small id="v3Help" class="form-text text-muted">-1 for infinite</small>
</div>
