<div class="row justify-content-md-center" style="margin: 1em;">
  <form [formGroup]="loginGroup" novalidate class="col-6 align-self-center" (ngSubmit)="commandSubmit()">
    <div class="row" style="margin-bottom: 1em;">
      <div class="col " style="text-align: center; border-bottom: 1px solid blue;"><h4>Login</h4></div>
    </div>
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control form-control-sm" formControlName="username" id="username"
             placeholder="Username">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control form-control-sm" formControlName="password" id="password" placeholder="">
    </div>
    <div class="form-group">
      <button type="submit" class="form-control form-control-sm btn-primary"  id="submit" [disabled]="!localState.formValid">Login</button>
    </div>
    <div class="alert-secondary alert">
      Don't have an account? <a [routerLink]="['/','account','create']">Click here to create one</a>.
    </div>
    <div class="alert alert-danger" *ngIf="localState.loginFailCount > 0">
      Login Failed.
    </div>
  </form>
</div>
