<div class="row justify-content-md-center" style="margin: 1em;">

  <form [formGroup]="areaForm" novalidate class="col-6 align-self-center" *ngIf="canEditArea()">
    <div class="form-group">
      <label for="areaName">Area Name</label>
      <input type="text" [readOnly]="nonEmptyArea()" class="form-control form-control-sm" formControlName="areaName" id="areaName"
             aria-describedby="areaNameHelp"
             placeholder="Enter Area Name"> <button (click)="commandRandomName()">Randomize</button>
      <small id="emailHelp" class="form-text text-muted">The descriptive name for your area.</small>
    </div>
    <div class="form-group">
      <label for="areaName">Builder Name</label>
      <input type="text" [readOnly]="nonEmptyArea()" class="form-control form-control-sm" formControlName="builder" id="builder"
             aria-describedby="builderHelp"
             placeholder="Enter Builder Name">
      <small id="builderHelp" class="form-text text-muted">The alias you usually go by.</small>
    </div>
    <div class="form-group">
      <label for="areaName">Low Vnum</label>
      <input type="number" [readOnly]="nonEmptyArea()" class="form-control form-control-sm" formControlName="lowVnum"
             id="lowVnum" aria-describedby="lowVnumHelp"
             placeholder="Low Vnum">
      <small id="lowVnumHelp" class="form-text text-muted">The starting vnum assigned to you.</small>
    </div>
    <div class="form-group">
      <label for="areaName">High Vnum</label>
      <input type="number" [readOnly]="nonEmptyArea()" class="form-control form-control-sm" formControlName="highVnum"
             id="highVnum" aria-describedby="highVnumHelp"
             placeholder="High Vnum">
      <small id="highVnumHelp" class="form-text text-muted">The maximum vnum assigned to you.</small>
    </div>
  </form>
</div>
