<div class="form-group">
  <app-script-nav></app-script-nav>
</div>
<p *ngIf="!selectedScript">
  <ngb-alert [dismissible]="false">
    <strong>Warning!</strong> There are no scripts, start with the "New" button.
  </ngb-alert>
</p>
<form [formGroup]="scriptForm" novalidate>

  <div class="form-group" *ngIf="selectedScript">

    <div class="row">
      <div class="col">
        <label for="name">Name</label>
        <input type="text" class="form-control form-control-sm" formControlName="name" id="name"
               aria-describedby="nameHelp" placeholder="Enter name">
      </div>

    </div>

    <hr/>
    <div class="row">
      <div class="col">
        <label for="script">Script</label>
        <textarea rows="4" cols="80" class="form-control form-control-sm" formControlName="script" id="script"
                  aria-describedby="scriptHelp" placeholder="Enter script"></textarea>
      </div>
    </div>
    <div class="row">
      <div class="col">
        Scripts should look like:<br/>
        <pre>
          (function cool(triggered, commandService) &#123;
             triggered.event.entity.stringToEntity(`The ground rumbles.`);
             commandService.runCommand(triggered.receiver, 'say hello');
          })
        </pre>
      </div>
    </div>
    <div class="row">
      <div class="col">
       Scripts have access to the WorldService as well as the even that triggered them.
      </div>
    </div>
    <div class="row">
      <div class="col">
        <ul>
          <li>triggered.event: type, entity, target, args</li>
          <li>triggered.trigger: vnum, script, type, typeArg</li>
          <li>triggered.receiver:  entity that is running the script!</li>
          <li>commandService.runCommand(actor,input): run a command!</li>
          <li>this.worldService: Advanced scripts; used to modify the world.</li>
        </ul>
      </div>
    </div>

  </div>
</form>
