<div class="container-fluid">
  <h2>Create Character</h2>
  <p>
    Here you can create a new character to play with!
  </p>

  <form [formGroup]="playerGroup" novalidate (ngSubmit)="commandSubmit()">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control form-control-md" formControlName="name" id="name"
             placeholder="Character Name">
      <div class="alert alert-danger" *ngIf="submitted && controls['name'].errors">
        <div *ngIf="controls['name'].errors['required']">Name is required.</div>
        <div *ngIf="controls['name'].errors['pattern']">Name can only contain the letters A-Z.</div>
        <div *ngIf="controls['name'].errors['minlength'] || controls['name'].errors['maxlength']">Name must be between 5 and 15
          characters.
        </div>
      </div>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary" id="submit">Create</button>
    </div>
  </form>

</div>
