<div [formGroup]="exitForm">
  <select formControlName="toVnum" class="form-control form-control-sm" id="to" (change)="updateExit()" >
    <option value="none">No Exit</option>
    <option value="remove">Remove this Exit</option>
    <option value="dig">Dig New Room</option>
    <option *ngFor="let room of roomList(direction)" [ngValue]="room.vnum">{{room.vnum}} - {{room.name}}</option>
  </select>

  <button type="button" class="btn btn-sm btn-outline-info  btn-block"
          (click)="commandToggleDetails()">
    {{showDetails ? "Hide " : "Show "}} Details
  </button>

  <div [hidden]="!showDetails" *ngIf="exit">
    <label for="keyword">keyword</label>
    <input type="text" class="form-control form-control-sm" formControlName="keyword" id="keyword"
           aria-describedby="keywordHelp" placeholder="Enter keyword">
    <small id="keywordHelp" class="form-text text-muted">The exit's keyword.</small>

    <label for="desc">description</label>
    <input type="text" class="form-control form-control-sm" formControlName="description" id="desc"
           aria-describedby="descHelp" placeholder="Enter description">
    <small id="descHelp" class="form-text text-muted">The exit's description.</small>

    <label for="key">key vnum</label>
    <select  class="form-control form-control-sm" formControlName="keyVnum" id="key"
           aria-describedby="keyHelp" placeholder="Enter key vnum">
      <option value="0" >No Key</option>
      <option *ngFor="let key of keys" [value]="key.vnum">{{key.vnum}} - {{key.shortDesc}}</option>
    </select>
    <small id="keyHelp" class="form-text text-muted">The exit's key (an object).</small>

    <label for="flags">Flags</label>
    <input type="hidden" formControlName="defaultExitFlags">
    <bit-flag-editor [flagSet]="exitFlags" [value]="exit!.defaultExitFlags" (valueChange)="updateExitFlags($event)" id="flags"></bit-flag-editor>
    <small id="flagsHelp" class="form-text text-muted">The exit's flags.</small>
  </div>
</div>
