<div class="form-group">
  <room-nav></room-nav>
</div>
<p *ngIf="!selectedRoom">
  <ngb-alert [dismissible]="false">
    <strong>Warning!</strong> There are no rooms, start with the "New" button.
  </ngb-alert>
</p>
<form [formGroup]="roomForm" novalidate>

  <div class="form-group" *ngIf="selectedRoom">

    <div class="row">
      <div class="col">
        <label for="name">Name</label>
        <input type="text" class="form-control form-control-sm" formControlName="name" id="name"
               aria-describedby="nameHelp" placeholder="Enter name">
      </div>
      <div class="col">
        <label for="sector">Sector</label>
        <select formControlName="sector" class="form-control form-control-sm" id="sector"
                aria-describedby="sectorHelp" placeholder="Enter sector">
          <option *ngFor="let sectorName of sectorSet; let sectorId = index " [value]="sectorId">{{sectorName}}</option>
        </select>
      </div>
    </div>

    <hr/>
    <div class="row">
      <div class="col">
        <label for="description">Description</label>
        <textarea rows="4" cols="80" class="form-control form-control-sm" formControlName="description" id="description"
                  aria-describedby="descriptionHelp" placeholder="Enter description"></textarea>
      </div>
    </div>

    <hr/>
    <div class="row">
      <div class="col-12"><h5>Exits</h5></div>
      <div class="col-4" *ngFor="let direction of [0,1,2,3,4,5]" style="margin-bottom: 1em;">
        {{exitTitles[direction]}}
        [
        <button class="btn btn-primary btn-sm m-1" type="button"
                *ngIf="areaService.getExit(direction)"
                (click)="commandDeleteExit(direction)">Remove
        </button>
        <button class="btn btn-primary btn-sm m-1" type="button"
                *ngIf="areaService.getExit(direction)"
                (click)="commandGoExit(direction)">Jump
        </button>
        ]
        <div>
          <exit-editor [room]="selectedRoom" [direction]="direction"></exit-editor>
        </div>
      </div>
    </div>

    <hr/>
    <div class="row">
      <div class="col">
        <h5>Actors</h5>
        <div>
          <select class="form-control form-control-md" id="selectedNewActor" name="resetActorSelect" (change)="commandSelectActor($event)"
                  [(ngModel)]="resetActor" [ngModelOptions]="{standalone: true}" >
            <option value="0">Choose an actor to spawn here.</option>
            <option *ngFor="let actor of actors;" [ngValue]="actor.vnum"  >{{actor.vnum}} - {{actor.name}}</option>
          </select>
        </div>
        <div *ngFor="let reset of actorResets;" class="mt-2"><app-actor-spawn-editor [reset]="reset"></app-actor-spawn-editor><button class="btn btn-secondary" type="button" (click)="commandDeleteActorSpawn(reset)">Delete</button> </div>
      </div>
    </div>

  <hr/>
    <div class="row">
      <div class="col">
        <h5>Items</h5>
        <div>
          <select class="form-control form-control-md" id="selectedNewItem" name="resetItemSelect" (change)="commandSelectItem($event)"
                  [(ngModel)]="resetItem" [ngModelOptions]="{standalone: true}" >
            <option value="0">Choose an item to spawn here.</option>
            <option *ngFor="let item of items;" [ngValue]="item.vnum"  >{{item.vnum}} - {{item.name}}</option>
          </select>
        </div>
        <div *ngFor="let reset of itemResets;" class="mt-2"><app-item-spawn-editor [reset]="reset"></app-item-spawn-editor><button class="btn btn-secondary" type="button" (click)="commandDeleteItemSpawn(reset)">Delete</button> </div>
      </div>
    </div>

    <hr/>
    <app-tag-editor [entity]="selectedRoom"></app-tag-editor>

    <hr/>
    <div class="row">
      <div class="col-12"><h5>Triggers  <button class="btn btn-primary btn-sm m-1" type="button"
                                                (click)="commandAddTrigger()">Add Trigger
      </button></h5></div>
    </div>
    <div class="row" *ngFor="let trigger of selectedRoom.triggers" >
      <div class="col-8"><app-trigger-editor [trigger]="trigger"></app-trigger-editor></div>
      <div class="col-4"><button class="btn btn-primary btn-sm m-1" type="button"
                                 (click)="commandDeleteTrigger(trigger)">Remove Trigger
      </button></div>
    </div>

  </div>
</form>
