<div class="row">
  <div class="col text-right">
    <select class="form-control form-control-md" id="selectedIndex" (change)="commandSelect()"
            [(ngModel)]="selected" [ngModelOptions]="{standalone: true}">
      <option *ngFor="let room of rooms;" [ngValue]="room"  >{{room.vnum}} - {{room.name}}</option>
    </select>
  </div>
  <div class="col text-right">
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button"  class="btn btn-secondary" (click)="commandNew()">New</button>
      <button type="button"  class="btn btn-secondary" (click)="commandDelete()">Delete</button>
    </div>
  </div>
</div>
