<div class="container"  >
  <div class="row" >
    <div class="col-6 border-bottom" style="padding: 2em;">
      <h1>Ibrekeniel</h1>
      <p> </p>
      <p>
        Welcome to Ibrekeniel! A dangerous world of adventure and discovery.
      </p>
      <p> </p>
      <p>
        This is a passion project, created not to be popular; but just to exist.
      </p>
      <p> </p>
      <p>Either way, thanks for stopping by!</p>
      <p> </p>
      <p>- Tenchi</p>
    </div>
  </div>
  <div class="row">
    <div class="col-6 border-right border-top" style="padding: 2em;">
      <h1>Build</h1>
      <p> </p>
      <p>
        You can now edit areas in your browser. Import old areas. Create new ones from scratch. No need for Java, installs or any special setup. We'll even save your area for you.
      </p>
      <p> </p>
      <p>
        <button type="button" class="btn btn-primary btn-lg btn-block" routerLink="/build">Go To Editor</button>
      </p>
    </div>
    <div class="col-6 border-left border-top" style="padding: 2em;">
      <h1>Play</h1>
      <p> </p>
      <p>
        You can play Ibrekeniel right from your browser; there is no Telnet and with a web
        client there are so many new possibilities! Play from anywhere you have web access!
      </p>
      <p> </p>
      <p>
        <button type="button" class="btn btn-primary btn-lg btn-block" routerLink="/dashboard">Play!</button>
      </p>
    </div>
  </div>
</div>
