<div class="form-group">
  <obj-nav></obj-nav>
</div>
<p *ngIf="!selectedObject">
  <ngb-alert [dismissible]="false">
    <strong>Warning!</strong> There are no objects, start with the "New" button.
  </ngb-alert>
</p>
<form [formGroup]="objForm" novalidate>
  <div class="form-group" *ngIf="selectedObject">
    <div class="row">
      <div class="col">
        <label for="name">Name</label>
        <input type="text" class="form-control" formControlName="name" id="name"
               aria-describedby="nameHelp" placeholder="Enter name">
        <small id="nameHelp" class="form-text text-muted">The item's name.</small>
      </div>
      <div class="col">
        <label for="shortDesc">Short Description</label>
        <input type="text" class="form-control" formControlName="shortDesc" id="shortDesc"
               aria-describedby="shortDescHelp" placeholder="Enter shortDesc">
        <small id="shortDescHelp" class="form-text text-muted">The item's shortDesc.</small>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <label for="longDesc">Long Description</label>
        <input type="text" class="form-control" formControlName="longDesc" id="longDesc"
               aria-describedby="longDescHelp" placeholder="Enter longDesc">
        <small id="longDescHelp" class="form-text text-muted">The item's longDesc.</small>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <label for="level">Level</label>
        <input type="number" class="form-control" formControlName="level" id="level"
               aria-describedby="levelHelp" placeholder="Enter level">
        <small id="levelHelp" class="form-text text-muted">The item's level.</small>
      </div>
      <div class="col">
        <label for="condition">Condition</label>
        <input type="number" class="form-control" formControlName="condition" id="condition"
               aria-describedby="conditionHelp" placeholder="Enter condition">
        <small id="conditionHelp" class="form-text text-muted">The item's condition.</small>
      </div>
      <div class="col">
        <label for="weight">Weight</label>
        <input type="number" class="form-control" formControlName="weight" id="weight"
               aria-describedby="weightHelp" placeholder="Enter weight">
        <small id="weightHelp" class="form-text text-muted">The item's weight.</small>
      </div>
      <div class="col">
        <label for="cost">Cost</label>
        <input type="number" class="form-control" formControlName="cost" id="cost"
               aria-describedby="costHelp" placeholder="Enter cost">
        <small id="costHelp" class="form-text text-muted">The item's cost.</small>
      </div>
      <div class="col">
        <label for="material">Material</label>
        <input type="text" class="form-control" formControlName="material" id="material"
               aria-describedby="materialHelp" placeholder="Enter material">
        <small id="materialHelp" class="form-text text-muted">The item's material.</small>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <label for="type">Type</label>
        <select class="form-control" formControlName="type" id="type"
                aria-describedby="typeHelp">
          <option *ngFor="let iType of itemTypeSet" [ngValue]="iType.type">{{iType.name}}</option>
        </select>
      </div>
    </div>

    <div class="row mt-2">
      <div class="col">
        <label for="wearFlags">Wear Flags</label>
        <bit-flag-editor [flagSet]="wearFlags" [value]="wearFlag" (valueChange)="updateWearFlag($event)" fieldName="wearFlags"
                         id="wearFlags"></bit-flag-editor>
        <small id="wearFlagsHelp" class="form-text text-muted">The item's wearFlags.</small>
      </div>
    </div>

    <hr/>
    <app-tag-editor [entity]="selectedObject"></app-tag-editor>

    <hr/>
    <div class="row">
      <div class="col-12"><h5>Triggers  <button class="btn btn-primary btn-sm m-1" type="button"
                                                (click)="commandAddTrigger()">Add Trigger
      </button></h5></div>
    </div>
    <div class="row" *ngFor="let trigger of selectedObject.triggers" >
      <div class="col-8"><app-trigger-editor [trigger]="trigger"></app-trigger-editor></div>
      <div class="col-4"><button class="btn btn-primary btn-sm m-1" type="button"
                                 (click)="commandDeleteTrigger(trigger)">Remove Trigger
      </button></div>
    </div>

    <input type="hidden" formControlName="values" id="values">
    <item-values-editor [itemType]="selectedObject.type" [parentGroup]="objForm"></item-values-editor>
  </div>
</form>
