<div class="form-group">
  <mob-nav></mob-nav>
</div>
<p *ngIf="!selectedMobile">
  <ngb-alert [dismissible]="false">
    <strong>Warning!</strong> There are no mobiles, start with the "New" button.
  </ngb-alert>
</p>
<form [formGroup]="mobForm" novalidate>
  <div class="form-group" *ngIf="selectedMobile">

    <div class="row">
      <div class="col-5">
        <label for="name">Name</label>
        <input type="text" class="form-control form-control-sm" formControlName="name" id="name"
               aria-describedby="mobNameHelp"
               placeholder="Enter Mobile Name(s)">
        <small id="mobNameHelp" class="form-text text-muted">The mobile's keywords.</small>
      </div>
      <div class="col-5">
        <label for="shortDesc">Short Description</label>
        <input type="text" class="form-control form-control-sm" formControlName="shortDesc" id="shortDesc"
               aria-describedby="mobShortDescHelp" placeholder="Enter Short Description">
        <small id="mobShortDescHelp" class="form-text text-muted">The mobile's short description.</small>
      </div>
    </div>

    <label for="LongDesc">Long Description</label>
    <input type="text" class="form-control form-control-sm" formControlName="longDesc" id="longDesc"
           aria-describedby="mobLongDescHelp"
           placeholder="Enter Long Description">
    <small id="mobLongDescHelp" class="form-text text-muted">The mobile's long description.</small>

    <label for="description">Description</label>
    <textarea type="text" class="form-control form-control-sm" formControlName="description" id="description"
              aria-describedby="fileNameHelp" cols="80" rows="6"
              placeholder="Enter Description">
      </textarea>
    <small id="fileNameHelp" class="form-text text-muted">The description of the mobile.</small>

    <div class="row">
      <div class="col">
        <label for="race">Race</label>
        <select
          class="form-control form-control-sm" formControlName="race" id="race"
          aria-describedby="raceHelp">
          <option *ngFor="let eachRace of raceSet" [ngValue]="eachRace.name">{{eachRace.name}}</option>
        </select>
        <small id="raceHelp" class="form-text text-muted">The mobile's race.</small>
      </div>

      <div class="col">
        <label for="level">Level</label>
        <input type="number" class="form-control form-control-sm" formControlName="level" id="level"
               aria-describedby="levelHelp" placeholder="Enter level">
        <small id="levelHelp" class="form-text text-muted">The mobile's level.</small>
      </div>

      <div class="col">
        <label for="hitRoll">Hit Roll</label>
        <input type="text" class="form-control form-control-sm" formControlName="hitRoll" id="hitRoll"
               aria-describedby="hitRollHelp" placeholder="Enter hitRoll">
        <small id="hitRollHelp" class="form-text text-muted">The mobile's hitRoll.</small>
      </div>

      <div class="col">
        <label for="damageType">Damage Type</label>
        <select class="form-control form-control-sm" formControlName="damageType" id="damageType"
                aria-describedby="damageTypeHelp">
          <option *ngFor="let dType of damageTypeSet" [ngValue]="dType">{{dType}}</option>
        </select>
        <small id="damageTypeHelp" class="form-text text-muted">The mobile's damageType.</small>
      </div>

      <div class="col">
        <label for="size">Size</label>
        <select class="form-control form-control-sm" formControlName="size" id="size"
                aria-describedby="sizeHelp">
          <option *ngFor="let size of sizeSet" [ngValue]="size.size">{{size.description}}</option>
        </select>
        <small id="sizeHelp" class="form-text text-muted">The mobiles's size.</small>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <label for="startPosition">Start Position</label>
        <select class="form-control form-control-sm" formControlName="startPosition" id="startPosition"
                aria-describedby="startPositionHelp">
          <option *ngFor="let position of positionSet" [value]="position.position">{{position.description}}</option>
        </select>
        <small id="startPositionHelp" class="form-text text-muted">The mobile's startPosition.</small>

      </div>
      <div class="col">
        <label for="defaultPosition">Default Position</label>
        <select class="form-control form-control-sm" formControlName="defaultPosition" id="defaultPosition"
                aria-describedby="defaultPositionHelp">
          <option *ngFor="let position of positionSet" [value]="position.position">{{position.description}}</option>
        </select>
        <small id="defaultPositionHelp" class="form-text text-muted">The mobile's defaultPosition.</small>

      </div>
      <div class="col">
        <label for="sex">Sex</label>
        <select class="form-control form-control-sm" formControlName="sex" id="sex"
                aria-describedby="sexHelp">
          <option value="0">Neutral</option>
          <option value="1">Male</option>
          <option value="2">Female</option>
        </select>
        <small id="sexHelp" class="form-text text-muted">The mobile's sex.</small>

      </div>
      <div class="col">
        <label for="wealth">Wealth</label>
        <input type="text" class="form-control form-control-sm" formControlName="wealth" id="wealth"
               aria-describedby="wealthHelp" placeholder="Enter wealth">
        <small id="wealthHelp" class="form-text text-muted">The mobile's wealth.</small>
      </div>
    </div>

    <hr/>
    <app-tag-editor [entity]="selectedMobile"></app-tag-editor>

    <hr/>
    <div class="row">
      <div class="col-12"><h5>Triggers  <button class="btn btn-primary btn-sm m-1" type="button"
                                                (click)="commandAddTrigger()">Add Trigger
      </button></h5></div>
    </div>
    <div class="row" *ngFor="let trigger of selectedMobile.triggers" >
      <div class="col-8"><app-trigger-editor [trigger]="trigger"></app-trigger-editor></div>
      <div class="col-4"><button class="btn btn-primary btn-sm m-1" type="button"
                                 (click)="commandDeleteTrigger(trigger)">Remove Trigger
      </button></div>
    </div>
  </div>
</form>

