<span *ngIf="equipment ">
  <table>
    <tbody>
  <tr *ngFor="let eq of equipment">
    <td><{{equipmentDescription(eq.slotDesc)}}></td><td style="padding: 0 .67em;">:</td><td>{{eq.itemDesc}}</td>
  </tr>
    </tbody>
  </table>
</span>
