<p *ngIf="!entity">
  <ngb-alert [dismissible]="false">
    <strong>Warning!</strong> There is no entity
  </ngb-alert>
</p>
<form [formGroup]="form" novalidate>
  <div class="form-group" *ngIf="entity">
    <div class="row">
      <div class="col">
        <h5>Properties</h5>
        <div formArrayName="properties">
          <button class="btn btn-primary mb-2" type="button" (click)="addProperty()">Add Property</button>
          <table>
            <tr class="form-group"
                *ngFor="let property of properties.controls; let i = index;" [formGroupName]="i" >
              <td><input type="text" class="form-control" formControlName="key"></td>
              <td><input type="text" class="form-control" formControlName="value"></td>
              <td><button class="btn btn-secondary" type="button" (click)="deleteProperty(i)">Delete</button></td>
            </tr>
          </table>
        </div>
      </div>
      <div class="col">
        <h5>Tags</h5>
        <div formArrayName="tags">
          <button class="btn btn-primary mb-2" type="button" (click)="addTag()">Add Tag</button>
          <table>
            <tr class="form-group"
                *ngFor="let tag of tags.controls; let i = index;">
              <td><input type="text" class="form-control" [formControlName]="i"></td>
              <td><button class="btn btn-secondary" type="button" (click)="deleteTag(i)">Delete</button></td>
              <div class="alert alert-danger" *ngIf="tag.invalid
                && tag.touched">
                Please enter value
              </div>
            </tr>
          </table>
        </div>
      </div>
    </div>

  </div>
</form>
