<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">Ibrekeniel - The Sealed Lands</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
          aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item" routerLinkActive="active" routerLink="home">
        <a class="nav-link"  >Home</a>
      </li>
      <li class="nav-item " routerLink="build" routerLinkActive="active" *ngIf="localState.loggedIn">
        <a class="nav-link" >Build</a>
      </li>
      <li class="nav-item " routerLink="dashboard" routerLinkActive="active" *ngIf="localState.loggedIn">
        <a class="nav-link" >Play</a>
      </li>
      <li class="nav-item active" *ngIf="localState.loggedIn">
        <a class="nav-link" [routerLink]="['account','logout']">Logout</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container" *ngIf="!localState.loggedIn">
  <div class="row">
    <div class="col">
      <div class="alert alert-info mt-2" role="alert">
        This MUD is in beta, accounts and characters may be lost during feature rollouts.
      </div>
    </div>
  </div>
</div>
<div style="margin-top: 3.25rem;">
<router-outlet></router-outlet>
</div>
