<div [formGroup]="resetForm" class="form-inline">
  Spawn &nbsp;
  <select formControlName="actorVnum" class="form-control form-control-sm form-inline" id="actor"
          (change)="updateSpawn()">
    <option *ngFor="let actor of actors" [ngValue]="actor.vnum">{{actor.vnum}} - {{actor.name}}</option>
  </select>
  &nbsp;Max Room&nbsp;
  <input type="text" class="form-control form-control-sm form-inline" formControlName="maxRoom" id="maxRoom">
  &nbsp;Max World&nbsp;
  <input type="text" class="form-control form-control-sm form-inline" formControlName="maxWorld" id="maxWorld">
</div>
