<div [formGroup]="resetForm" class="form-inline">
  Spawn &nbsp;
  <select formControlName="itemVnum" class="form-control form-control-sm form-inline" id="item"
          (change)="updateSpawn()">
    <option *ngFor="let item of items" [ngValue]="item.vnum">{{item.vnum}} - {{item.name}}</option>
  </select>
  &nbsp;Max Room&nbsp;
  <input type="text" class="form-control form-control-sm form-inline" formControlName="maxRoom" id="maxRoom">
  &nbsp;Max World&nbsp;
  <input type="text" class="form-control form-control-sm form-inline" formControlName="maxWorld" id="maxWorld">
</div>
